body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.xButtonCSS {
  position: absolute !important;
  top: -7.5px;
  left: -7.5px;
  cursor: pointer;
  height: 30px !important;
  width: 30px !important;
}

.xButtonCSSInvoice {
  position: relative;
  top: -44px;
  cursor: pointer;
}

.row:hover .xVoid{
  display: block;
}

.pdfPad{
  padding: 4px 12px 4px 0;
  margin: 2px 0px;
}

.pdfFont{
  font-family: sans-serif;
  font-size: 0.875rem;
}

.xVoid{
  display: none;
  position: relative;
  right: -98%;
}